<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Cloud Formations</h1>
    <p>
      An important way to remain aware about the weather situation in which you
      may find yourself is cloud formations. Wispier clouds may indicate fair
      weather, while large intimidating cumulonimbus clouds may indicate an
      encroaching storm. Being aware of the clouds around you allows you to stay
      safe even without official warning systems.
    </p>
    <h3>Contrails</h3>
    <p>
      These clouds are often formed by aircraft, and in fair weather may be some
      of the only clouds in the sky.
    </p>
    <h3>Cirrus</h3>
    <h3>Altostratus</h3>
    <h3>Cumulonimbus</h3>
    <p>
      Cumulonimbus clouds are indicators of a strong storm. Have a plan in place
      to take shelter if conditions should deteriorate.
    </p>
    <h3>Mammatus</h3>
    <h3>Wall Cloud</h3>
    <h3>Funnel Cloud</h3>
    <h3>Tornado</h3>
  </body>
  <footer>
    <p>
      Cloud information taken from
      <a href="https://scijinks.gov/clouds/">SciJinks.gov</a>
    </p>
  </footer>
</html>
