<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <title>Weekly</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body class="bg-warning-subtle">
    {% include "wwapp/masterheader.html" %}
    <div class="row g-0">
      <div class="col-md-6 mb-md-0 p-md-4">
        <svg
          class="bd-placeholder-img w-100"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Generic placeholder image"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Generic placeholder image</title>
          <rect width="60%" height="100%" fill="#868e96"></rect>
        </svg>
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Today's High</h5>
        <p>
          Break down of weather high. Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Enim earum rem, hic consequuntur animi dolore.
        </p>
      </div>
    </div>

    <div class="row g-0">
      <div class="col-md-6 mb-md-0 p-md-4">
        <svg
          class="bd-placeholder-img w-100"
          width="100%"
          height="200"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Generic placeholder image"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Generic placeholder image</title>
          <rect width="60%" height="100%" fill="#868e96"></rect>
        </svg>
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Today's Low</h5>
        <p>
          Break down of weather low. Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Enim earum rem, hic consequuntur animi dolore.
        </p>
      </div>
    </div>

    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">Tomorrow</div>
        <div class="col">Tuesday</div>
        <div class="col">Wednesday</div>
        <div class="col">Thursday</div>
        <div class="col">Friday</div>
        <div class="col">Saturday</div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          Break down of following day weather. Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Eos enim ea numquam consequatur illo
          incidunt at, id error ab sed!
        </div>
        <div class="col">
          Break down of tuesday weather. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Ipsum a animi quis ullam voluptates! In, eius neque?
          Facilis nostrum neque totam beatae magni suscipit blanditiis
          asperiores natus quod assumenda.
        </div>
        <div class="col">
          Break down of Wednesday weather. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Est libero asperiores saepe! Maiores,
          cum repudiandae!
        </div>
        <div class="col">
          Break down of Thursday weather. Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Nulla rem modi obcaecati sapiente,
          accusamus error?
        </div>
        <div class="col">
          Break down of Friday weather. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Enim, deserunt. Officiis aut provident repellendus
          modi.
        </div>
        <div class="col">
          Break down of Saturday weather. Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Cum doloribus voluptates nam dolorum.
          Doloribus, deserunt?
        </div>
      </div>
    </div>
  </body>
  {% include "wwapp/masterfooter.html" %}
</html>
